<!DOCTYPE html>
<html lang="pl-PL" class="js">
{{- partial "head.html" . -}}
<body class="start-screen">
    <div class="container-fluid full-height" id="topImg">
        <div id="topContent">
            <img src="/img/segfaultPoziomeLogo.png" alt="Logo Segfault">
            <h1 class="fancy-font white-text" id="mainWords">...wszyscy jesteśmy architektami</h1>
            <div class="button-group "  role="group" aria-label="Wybierz wydarzenie">
                {{ range where .Site.Sections "Type" "sites"}}
                {{ range where .Sections "Type" "event"}}
                {{ if eq .Params.status "planned" }}
                <a href="{{ .Permalink }}">
                <button type="button" class="btn big transparent" aria-label="{{ .Title }} - {{ .Params.eventdate }}">
                    {{ .Params.city }} {{ .Params.eventdate }}
                </button>
                </a>
                {{ end }}
                {{ if not (isset .Params "status") }}
                <a href="{{ .Permalink }}">
                    <button type="button" class="btn big transparent" aria-label="{{ .Title }} - {{ .Params.eventdate }}">
                        {{ .Params.city }} {{ .Params.eventdate }}
                    </button>
                </a>
                {{ end }}
                {{ end }}
                {{ end }}
            </div>

            <!-- archiwum -->
            <div class="row">
    		    	<div class="col-lg-8 offset-lg-2 col-sm-12 offset-sm-0">
    		            <h2 class="white-text" id="main_archive">Archiwum</h2>
    		            <div id="editionCarousel" class="carousel slide w-100" data-ride="carousel">
    			            <div class="carousel-inner w-100" role="listbox">
                    			<div class="carousel-item active">
                            {{ range where .Site.Sections "Type" "sites"}}
                            {{ range where .Sections "Type" "event"}}
                            {{ if eq .Params.status "archived" }}
                            <a href="{{ .Permalink }}" class="white-text button-like" aria-label="{{ .Params.city }} - {{ .Params.eventdate }}">{{ .Params.city }} {{ .Params.eventdate }}</a>
                            {{ end }}
                            {{ end }}
                            {{ end }}
    		                </div>
    		                <a class="carousel-control-prev" href="#editionCarousel" role="button" data-slide="prev">
    			                <span class="fa fa-chevron-left" aria-hidden="true"></span>
    			                <span class="sr-only">Poprzednia edycja</span>
    			            </a>
    			            <a class="carousel-control-next" href="#editionCarousel" role="button" data-slide="next">
    			                <span class="fa fa-chevron-right" aria-hidden="true"></span>
    			                <span class="sr-only">Następna edycja</span>
    			            </a>
    		            </div>
    		        </div>
    		    </div>

        </div>
    </div>
</body>
</html>
