<!DOCTYPE html>
<html lang="pl">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <title>{{.Title}}}</title>

    <link rel="icon" type="image/png" sizes="32x32" href="img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/fav/favicon-16x16.png">

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="css/segfault-Style.min.css" rel="stylesheet">

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '2039077633048325');
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=2039077633048325&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Event snippet for Segfault conversion page -->
    <script>
      gtag('event', 'conversion', {'send_to': 'AW-868075068/96OoCOvtsX8QvIz3nQM'});
    </script>
  </head>

  <body id="page-top">

    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>

{{partial "sidebar.html" .}}

{{partial "header.html" .}}

    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2 class="mb-3">O konferencji</h2>
            <hr class="mb-5">
            <p class="lead mb-5">
              SegFault to jedno z&nbsp;podstawowych pojęć z&nbsp;zakresu programowania i&nbsp;budowy systemów operacyjnych. Dlaczego postanowiliśmy je wykorzystać? Naszym celem jest powrót do fundamentów.
Wracamy do podwalin by udowodnić, że wysokopoziomowe rozwiązania są zbudowane na solidnych i&nbsp;niezmiennych koncepcjach oraz teoretycznych podstawach.
Wierzymy, że zrozumienie poziomu abstrakcji niżej od tego na którym obecnie operujemy jest esencją naszej pracy, niezbędnym elementem nie tylko naszego rozwoju, ale dalszego rozwoju branży.
Wierzymy, że tylko zrozumienie fundamentów umożliwia ciągły rozwój nie tylko branży IT, ale i&nbsp;nas samych.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="content-section-small bg-light-gray">
      <div class="container text-center">
        <div class="col-lg-10 mx-auto">
          <h4 class="lead">Chcesz uniknąć rozmów o&nbsp;trendach, które przychodzą i&nbsp;odchodzą? </br> o&nbsp;“next big thing”, które jest tylko starą technologią w&nbsp;nowych szatach? </br> Zapraszamy!</h4>
        </div>
      </div>
    </section>

    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="col-lg-10 mx-auto pb-2">
          <h2 class="mb-3">Tematyka</h2>
           <hr class="mb-5">
        </div>

        <div class="row">
          <div class="col-lg-6 mb-3 pb-5">
              <div class="portfolio-item to-left">
                <span class="text-white-light">
                  <h4 class="to-left">Architecture At Scale</h4>
                </span>
                  <p class="mb-0 lead to-left">czyli wszystko co dotyczy budowy, dobrych praktyk i&nbsp;skalowania systemów rozproszonych, tutaj pojawiają się takie tematy jak: skalowalność, wydajność, NoSQL, microservices, serverless, cloud computing, BigData, FastData i&nbsp;SOA.</p>
              </div>
          </div>

          <div class="col-lg-6 mb-3 pb-5">
              <div class="portfolio-item to-left">
                <span class="text-white-light">
                  <h4 class="to-left">Small Architectures</h4>
                </span>
                  <p class="mb-0 lead to-left">czyli wszystko co pomaga nam budować systemy na poziomie mniejszych komponentów. Tutaj posłuchasz o&nbsp;TDD, DDD, CQRS, dobrych praktykach i&nbsp;wzorcach niezależnie od platformy i&nbsp;języka programowania.</p>
              </div>
          </div>

          <div class="col-lg-6 mb-3 pb-5">
              <div class="portfolio-item to-left">
                <span class="text-white-light">
                  <h4 class="to-left">Foundations of Future Architectures</h4>
                </span>
                  <p class="mb-0 lead to-left">w tym bloku pojawią się tematy w&nbsp;znanym formacie “papers we love”, czyli tematy trudne, acz fundamentalne, zawarte w&nbsp;starych manuskryptach. Odkurzymy dokumenty z&nbsp;lat 70., 80. i&nbsp;90., by lepiej zrozumieć dokąd zmierza nasza branża.</p>
              </div>
          </div>

          <div class="col-lg-6 mb-3 pb-5">
              <div class="portfolio-item to-left">
                <span class="text-white-light">
                  <h4 class="to-left">Legacy Architectures</h4>
                </span>
                  <p class="mb-0 lead to-left">wszystko o&nbsp;pracy z&nbsp;kodem i&nbsp;systemami odziedziczonymi, od technik po prawdziwe historie.</p>
              </div>
          </div>

          <div class="col-lg-6 mb-3 pb-5">
              <div class="portfolio-item to-left">
                <span class="text-white-light">
                  <h4 class="to-left">Architecture of You</h4>
                </span>
                  <p class="mb-0 lead to-left">bo nie samymi architekturami człowiek żyje. Porozmawiamy o&nbsp;nas, o&nbsp;tym jak się uczyć, jak rozwijać swoje umiejętności, jak skutecznie manewrować swoją karierą i&nbsp;rozwojem.</p>
              </div>
          </div>
        </div>
      </div>

    </section>

    <section class="content-section bg-light-gray text-center" id="speakers">
      <div class="container">
        <div class="col-lg-10 mx-auto pb-2">
          <h2 class="mb-3">Prelegenci</h2>
           <hr class="mb-5">
        </div>

        <div class="row">
{{ range $speaker := where .Site.Pages "Section" "speakers" }}
<div class="col-lg-6 mb-3 pb-5">
  <a href="{{ .RelPermalink }}" class="block-link">
    <div class="row">
      <div class="portfolio-item">
        {{ with $speaker.Resources.GetMatch "photo" }}
            <img class="img-fluid rounded mb-5 set-width" src="{{ .RelPermalink }}" alt="">
        {{ end }}
        <h4 class="dark-blue">{{$speaker.Params.speakername}}</h4>
        <p class="mb-0 lead ">{{$speaker.Params.presentationtitle}}</p>
      </div>
    </div>
  </a>
</div>
{{end}}
        </div>
      </div>
    </section>

    <section class="content-section" id="portfolio">
      <div class="container">

        <div class="col-lg-10 mx-auto text-center">
          <h2 class="mb-2">Enteprise Architekci</h2>
        </div>

        <hr class="mb-5">

          <div class="row">
            <div class="col-lg-3 col-sm-6 offset-sm-3 offset-lg-0 offset-xs-0 sm-centered mb-5">
              <div class="portfolio-item">
              <img class="img-fluid rounded mb-2" src="img/justynaBio.jpg" alt="">
             </div>
            </div>

            <div class="col-lg-9 col-sm-12 mb-5">
              <div class="portfolio-item to-left">
                  <h4 class="mb-0 to-left dark-blue">Justyna Bień - <em>Chief Entertainment Officer</em></h4>
                  <p class="mb-0 lead to-left">David Copperfield konferencji - potrafi stworzyć coś z&nbsp;niczego. Event manager z&nbsp;7-letnim doświadczeniem w&nbsp;zarządzaniu, kreacji i&nbsp;organizacji wiodących konferencji IT w&nbsp;Polsce. Wielokrotnie dała się poznać jako pełen pasji łącznik między światem technicznym a&nbsp;nietechniczym. z&nbsp;branżą IT związała się przez przypadek, a&nbsp;została w&nbsp;niej z&nbsp;miłości. Poliglotka - bez problemu porozumiewa się w&nbsp;języku developerów, grafików, marketingowców, PRowców czy social media. w&nbsp;Radzie Programowej pilnuje porządku i&nbsp;stoi na straży niezawisłości pozostałych jej członków.</p>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6 offset-sm-3 offset-lg-0 offset-xs-0 sm-centered mb-5">
              <div class="portfolio-item">
              <img class="img-fluid rounded mb-2" src="img/jakubBio.jpg" alt="">
             </div>
            </div>

             <div class="col-lg-9 col-sm-12 mb-5">
              <div class="portfolio-item to-left">
                  <h4 class="mb-0 to-left dark-blue">Jakub Marchwicki - <em>Chief Mob Officer</em></h4>
                  <p class="mb-0 lead to-left">programista od kilkunastu lat, architekt od kilku, analityk czasami, konsultant jak trzeba, manager z&nbsp;wyboru, trener z&nbsp;zamiłowania, wannabe entrepreneur z&nbsp;marzeń, lider Java User Group w&nbsp;Gdańsku.  Jest spora szansa, że nic z&nbsp;tego nie robię dobrze,  ale próbuję… i&nbsp;wyciągam wnioski z&nbsp;porażek. Złośliwi mówią, że nie umie programować, ale miewa niezłe pomysły. w&nbsp;Radzie Programowej, głównie pilnuje żeby reszta pracowała jak należy.</p>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6 offset-sm-3 offset-lg-0 offset-xs-0 sm-centered mb-5">
              <div class="portfolio-item">
              <img class="img-fluid rounded mb-2" src="img/wiktorBio.jpg" alt="">
             </div>
            </div>

             <div class="col-lg-9 col-sm-12 mb-5">
              <div class="portfolio-item to-left">
                  <h4 class="mb-0 to-left dark-blue">Wiktor Sztajerowski - <em>Chief Wizard Officer</em></h4>
                  <p class="mb-0 lead to-left">cynik, wielbiciel marnych dowcipów i&nbsp;koneser chemexa. Zakręcony na punkcie systemów rozproszonych. Bywalec salonów konferencyjnych (czasami nawet udaje, że coś wie i&nbsp;mądrzy się ze sceny). Na co dzień programista, architekt lub konsultant - w&nbsp;zależności od potrzeb. (Współ)organizator społeczności takich jak: łódzki JUG, Zwinna Łódź czy Software Architecture&Design Debate. w&nbsp;Radzie Programowej zajmuje się konsekwentnym łamaniem wszystkich punktów regulaminu.</p>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6 offset-sm-3 offset-lg-0 offset-xs-0 sm-centered mb-5">
              <div class="portfolio-item">
              <img class="img-fluid rounded mb-2" src="img/jarekBio.jpg" alt="">
             </div>
            </div>

             <div class="col-lg-9 col-sm-12 mb-5">
              <div class="portfolio-item to-left">
                  <h4 class="mb-0 to-left dark-blue">Jarek Pałka - <em>Chief Procrastinator Officer</em></h4>
                  <p class="mb-0 lead to-left">od 20 lat w&nbsp;branży, nieustannie nie może znaleźć swojego miejsca. Kod odziedziczony, architektura, optymalizacja wydajności, JVM i&nbsp;agile coaching- nie ma pracy, której nie może się podjąć i&nbsp;której mógłby się wstydzić (no, może oprócz tworzenia rozwiązań w&nbsp;JavaScript). Od wielu lat uprawia turystykę konferencyjną, głównie jako wymówkę od ciężkiej pracy oraz jako okazję by nieustannie przypominać, że nasza branża to tania podróbka branży odzieżowej (przynajmniej jeśli chodzi o&nbsp;przychodzące i&nbsp;odchodzące trendy). w&nbsp;skrytości wielbiciel języka Python, OOP i&nbsp;kilku inny przestarzałych rozwiązań oraz wszystkiego, co napisał Alan Kay. w&nbsp;Radzie Programowej chciałby mieć prawo weta, jednak ktoś przegłosował, iż obowiązującym systemem politycznym jest demokracja.</p>
              </div>
            </div>
        </div>
      </div>
    </section>

    <section class="content-section bg-primary text-white text-center" id="society">
      <div class="container">
        <div class="col-lg-10 mx-auto pb-2">
          <h2 class="mb-3">Społeczność</h2>
           <hr class="mb-5">
        </div>

        <div class="row">
{{ with .Site.GetPage "page" "community" }}
{{ range .Resources.Match "*" }}
          <div class="col-md-3">
            <div class="portfolio-item">
              <img class="img-fluid rounded mb-5 set-width" src="{{ .RelPermalink }}">
            </div>
          </div>
{{ end }}
{{ end }}
        </div>
    </section>


    <a class="no-decoration" target="_blank" href="https://segfault-lodz-2018.konfeo.com/pl/groups">
      <section class="content-section-small bg-light-gray" id="contact">
        <div class="container text-center">
          <div class="col-lg-10 mx-auto">
           <h4 class="no-decoration">Zarejestruj się</h4>
           </div>
        </div>
      </section>
    </a>
    <a class="no-decoration" target="_blank" href="mailto:partnerzy@segfault.events">
        <section class="content-section-small bg-dark-blue" id="contact">
          <div class="container text-center">
            <div class="col-lg-10 mx-auto">
             <h4 class="no-decoration-light">Zostań partnerem</h4>
             </div>
          </div>
        </section>
      </a>

      <section class="content-section-small bg-light-blue" id="contact">
        <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="container text-center">
              <div class="mx-auto no-decoration-light">
                 <h4>Konferencja</h4>
                 <p class="mb-0">konferencja@segfault.events</p>
               </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="container text-center">
              <div class="mx-auto no-decoration-light">
                 <h4>Rejestracja</h4>
                 <p class="mb-0">rejestracja@segfault.events</p>
               </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="container text-center">
              <div class="mx-auto no-decoration-light">
                 <h4>Partnerstwo</h4>
                 <p class="mb-0">partnerzy@segfault.events</p>
               </div>
            </div>
          </div>
        </div>
      </div>
     </section>

{{partial "footer.html" .}}

  </body>

</html>
