<!DOCTYPE html>
<html lang="pl-PL" class="js">
{{- partial "head.html" . -}}
<body class="single-lecture single">
    {{- partial "header.html" . -}}
    <div id="body" class="clearfix">
        <!-- layout-container -->
        <div id="layout" class="pagewidth">
            <!-- content -->
            <div id="content">
                <div class="d-flex flex-column-reverse flex-md-row">
                    <div class="speakers h-25 col-12 col-md-3 offset-md-1 d-flex flex-column flex-sm-row flex-md-column">
                    {{ $abstract := .Params }}
                    {{ range where (where .Parent.Pages "Type" "speaker") "Params.speakername" "in" .Params.speakername }}
                        <div class="speaker col-12 col-sm-6 col-md-12">
                            <div class="photo">
                            {{ with .Resources.GetMatch "photo" }}
                                <img src="{{ .RelPermalink }}" alt="" />
                            {{ end }}
                            </div>
                            <div class="text-center name">
                                <a href="{{ .RelPermalink }}">
                                    <h3 class="text-center">
                                        <em>{{ .Params.speakername }}</em>
                                    </h3>
                                </a>        
                            </div>
                        </div>
                    {{ end }}
                    </div>
                    <div class="abstract col-12 col-md-6">
                            <h2> {{ $abstract.presentationtitle }} </h2>
                            <div>
                                <p>{{ .Content }}</p>
                            </div>        
                    </div>
                </div>

                <div>
                    <div>
                        {{ if isset .Params "youtube" }}
                        <div class="col-md-12">
                            <a href="https://www.youtube.com/watch?v={{ .Params.youtube }}" class="back out-link" target="_blank">
                                <span>Zobacz prezentację na YT</span>
                                <i class="fas fa-arrow-circle-right link-icon"></i>
                            </a>
                        </div>
                        {{ end }}
                        <div class="col-md-12">
                            <a href="{{ .Parent.RelPermalink }}#speakers" class="back">
                                <i class="fas fa-arrow-circle-left"></i>
                                <span>Zobacz wszystkich prelegentów</span>
                            </a>
                            <a href="{{ .Parent.RelPermalink }}#schedule" class="back">
                                <i class="fas fa-arrow-circle-left"></i>
                                <span>Przejdź do agendy</span>
                            </a>
                        </div>
                    </div>
                

                </div>

            </div>
            {{- partial "footer.html" . -}}
        </div>
    </div>
</body>
</html>