{{ if .abstract }}
    {{ if isset .abstract.Params "youtube" }}
    <a href="https://www.youtube.com/watch?v={{ .abstract.Params.youtube }}" target="_blank"><img src="/img/yt_icon_mono_light.png"></a>
    {{ end }}
    <a  href="{{ .abstract.Permalink }}">{{ .abstract.Params.presentationtitle }}</a>
    <br />        
    {{ range $speaker := .speakers }}
        <a  href="{{ $speaker.Permalink }}"><strong>{{ $speaker.Params.speakername }}</strong></a>
    {{ end }}
{{ else }}
    {{ .agendaTitle }}
    <br />
    {{ range $speaker := .speakers }}
        <a  href="{{ $speaker.Permalink }}"><strong>{{ $speaker.Params.speakername }}</strong></a>
    {{ end }}
{{ end }}