{{ $pages := .pages }}
<table class="table table-hover table-responsive">
<thead class="text-center">
    <th scope="col" class="column-1">Godzina</th>
    <th scope="col" class="column-2">Ścieżka 1</th>
    <th scope="col" class="column-3">Ścieżka 2</th>
</thead>
<tbody>
    {{ $day := index (.agenda) 0 }}
    {{ range $slot := $day }}
    {{ range $hour,$presentations := $slot}}
    <tr>
    <td class="column-1">{{ $hour }}</td>
    {{ range $e,$p := $presentations }}
        {{ $singleSlot := eq (len $presentations) 1 }}
        {{ if $singleSlot }}
    <td class="column-2 text-center" colspan="2" >
        {{ else }}
    <td class="column-{{ add $e 2 }} text-center">
        {{ end }}
        {{ $abstract := index (where (where $pages "Type" "abstract") "Params.presentationtitle" $p) 0 }}
        {{ $speaker := index (where (where $pages "Type" "speaker") "Params.speakername" $abstract.Params.speakername) 0 }}
        {{ partial "agenda-element.html" (dict "abstract" $abstract "speaker" $speaker "agendaTitle" $p ) }}
    </td>
    {{ end }}
    </tr>
    {{ end }}
    {{ end }}
</tbody>
</table>
