<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/img/favicon.png">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Sedgwick+Ave">    
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="/css/main.css">
    
  <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script type="text/javascript" src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>      

  {{ if not (in (print .Site.BaseURL) "localhost") }}
  {{ partial "google_adwords.html" . }}

  {{ partial "google_analytics.html" . }}

  {{ partial "facebook_pixel.html" . }}
  {{ end }}
</head>
