<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Segfault Łódź 2018</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/fa-brands.min.css">
    <link rel="stylesheet" href="/css/fa-solid.min.css">
    <link rel="stylesheet" href="/css/fa-regular.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sedgwick+Ave">
    <link rel="shortcut icon" href="/img/favicon.png">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    {{ template "_internal/google_analytics_async.html" . }}
</head>
