<div class="body-overlay"></div>
<div id="pagewrap" class="hfeed site">
    <div id="headerwrap">
        <header id="header" class="pagewidth clearfix" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
            <nav class="navbar fixed-top navbar-expand-lg" id="mainNav">
                <div id="logo">
                    <a class="navbar-brand" href="/">
                        <img src="/img/segfaultPoziomeLogoBiale.png" alt="Logo Segfault">
                    </a>
                </div>
                <button id="myToggler">
                    <span class="navbar-toggler-icon">&#9776;</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <i class="fas fa-times" id="closeMenu"></i>
                    {{/* this is so fucking dirty, needs to be hacked out of this code, but don't know how */}}
                    {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "/" }}
                    
                    <ul class="navbar-nav ml-auto" >
                        {{ if (where .Pages ".File.BaseFileName" "about") }}
                        <li class="nav-item">
                            <a class="nav-link" href="#about">O konferencji</span></a>
                        </li>
                        {{ else }}
                        <li class="nav-item">
                            <a class="nav-link" href="#topics">Tematyka</span></a>
                        </li>                        
                        {{ end }}
                        <li class="nav-item">
                            <a class="nav-link" href="#speakers">Prelegenci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#schedule">Agenda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#partners">Partnerzy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#venue">Miejsce</a>
                        </li>                        
                    </ul>

                    <div class="register-button button-group    ">
                        <a class="white-text no-decor" href="{{ .Params.registrationlink }}">
                            <button type="button" class="btn blue">Rejestracja</button>
                        </a>
                    </div>
            
                </div>
            </nav>
        </header>
    </div>
    <!-- /#headerwrap -->
</div>
