<div class="body-overlay"></div>
<div id="pagewrap" class="hfeed site">
    <div id="headerwrap">
        <header id="header" class="pagewidth clearfix" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
            <nav class="navbar fixed-top navbar-expand-lg" id="mainNav">
                <a class="navbar-brand" href="#">
                    <img src="/img/segfaultPoziomeLogoBiale.png" alt="Logo Segfault">
                </a>
                <button id="myToggler">
                    <span class="navbar-toggler-icon">&#9776;</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <i class="fas fa-times" id="closeMenu"></i>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#about">O konferencji<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          {{ if eq .Kind "section" }}
                            <a class="nav-link" href="index.html#topics">Tematyka</a>
                          {{ end }}
                          {{ if eq .Kind "page" }}
                            <a class="nav-link" href="{{ .Parent.URL }}index.html#topics">Tematyka</a>
                          {{ end }}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html#speakers">Prelegenci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html#schedule">Agenda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html#partners">Partnerzy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html#organisedBy">Organizator</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html#council">Rada programowa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html#contact">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <!-- /#headerwrap -->
</div>
