<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>
    {{- .Title | default .Site.Title -}}
    {{ if isset .Params "speakername" }}  &bull;&nbsp; {{- .Params.speakername -}} {{ end }}
    {{ if (and (isset .Params "presentationtitle") (not (isset .Params.presentationtitle 0))) }} &bull;&nbsp; {{- .Params.presentationtitle -}} {{ end }}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Symentis Events">
  <meta name="description" content="{{ .Params.title }}">
  <meta name="keywords" content="Architecture At Scale">
  <!-- Social: Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@SegFaultConf">
  <meta name="twitter:title" content="{{ .Params.title | default "SegFault - wszyscy jesteśmy architektami" }}">
  <meta name="twitter:description" content="{{ with .Params.eventdate.start }}{{ . }}, {{ end }}{{ .Params.title | default "Segfault, ponieważ zrozumienie fundamentów umożliwia ciągły rozwój nie tylko branży IT, ale i nas samych." }}{{ with .Params.location }} - {{ .name }}{{end}}">
  {{ if .Params.social.facebook }}
  <meta name="twitter:image:src" content="{{ .Site.BaseURL }}sites{{ .CurrentSection.RelPermalink  }}{{ .Params.social.facebook }}">
  {{ else }}
  <meta name="twitter:image:src" content="{{ .Site.BaseURL }}img/social_facebook_sf.jpg">
  {{ end }}
  <!-- Social: Facebook / Open Graph -->
  {{ template "_internal/opengraph.html" . }}

  <link rel="shortcut icon" href="/img/favicon.png">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Sedgwick+Ave">
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="/css/main.css?{{ now.Unix }}">

  <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script type="text/javascript" src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js?{{ now.Unix }}"></script>

  {{ if not .Site.IsServer }}
  {{ partial "google_adwords.html" . }}

  {{ partial "google_analytics.html" . }}

  {{ partial "facebook_pixel.html" . }}
  {{ end }}
</head>
