<div class="body-overlay"></div>
<div id="pagewrap" class="hfeed site">
    <div id="headerwrap">
        <header id="header" class="pagewidth clearfix" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
            <nav class="navbar fixed-top navbar-expand-lg" id="mainNav">
                <div id="logo">
                    <a class="navbar-brand" href="/">
                        <img src="/sites/img/segfaultPoziomeLogoBiale.png" alt="Logo Segfault">
                    </a>
                </div>
                <button id="myToggler">
                    <span class="navbar-toggler-icon">&#9776;</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <i class="fas fa-times" id="closeMenu"></i>
                </div>
            </nav>
        </header>
    </div>
    <!-- /#headerwrap -->
</div>
