-<div class="container">
  <h2>{{ if not (isset . "caption")}}Partnerzy {{ .title }}{{ else }}{{ .caption }}{{ end }}</h2>
  {{ with .partners }}
  {{ $resources := .Resources.Match (printf "%s/*" $.partner) }}
  {{ if $resources }}
  {{ $partnersSlots :=  sub $.maxPartners (len $resources) }}
  {{ if ne $partnersSlots 0 }}
  <a href="mailto:partnerzy@segfault.events">Dołącz do nas jako {{ $.title }}</a><br/><br/>
  {{ end }}
  {{ end }}
  <div class="customer-logos slider">
    {{ range $resources }}
    <div class="slide">
      {{ if .Params.url }}
      <a href="{{ .Params.url }}"><img src="{{ .RelPermalink }}"></a>
      {{ else }}
      <img src="{{ .RelPermalink }}">
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  </div>
  <hr>
</div>
