<!DOCTYPE html>
<html lang="pl-PL" class="js">
  {{- partial "head.html" . -}}
  <body data-spy="scroll" data-target="#mainNav"  data-offset="150" class="home">
    {{- partial "header.html" . -}}
    <div id="body" class="clearfix">
        <!-- layout-container -->
        <div id="layout" class="pagewidth clearfix">
            <!-- content -->
            <div id="content" class="clearfix">
              {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
          </div>
        </div>
  </body>
</html>
