<!DOCTYPE html>
<html lang="pl">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <title>Segfault - konferencje IT</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png">

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave" rel="stylesheet">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/css/segfault-Style.min.css" rel="stylesheet">

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '2039077633048325');
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=2039077633048325&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Event snippet for Segfault conversion page -->
    <script>
      gtag('event', 'conversion', {'send_to': 'AW-868075068/96OoCOvtsX8QvIz3nQM'});
    </script>
  </head>

  <body id="page-top">

    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>

    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top"><img class="smallLogo" src="img/segfaultBialeZnakLogo.svg" alt="SegFault"></a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="index.html">Strona główna</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#summary">O prelekcji</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#bio">Biografia</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Kontakt</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Rejestracja</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Zostań partnerem</a>
        </li>
      </ul>
    </nav>

    <header class="masthead masthead-small">
      <div class="container text-center my-auto">
        <h1 class="text-white-light">{{.Params.speakername}}</h1>
        <h2 class="text-white-light">{{.Params.presentationtitle}}</h2>
      </div>
      <div class="overlay"></div>

    </header>

    <section class="content-section bg-light" id="summary">
      <div class="container text-center">
        <div class="col-lg-10 mx-auto pb-2">
          <h2 class="mb-3">Abstrakt</h2>
           <hr class="mb-5">
        </div>
        <div class="col-lg-10 mx-auto pb-2">
          <p class="lead mb-5">{{.Params.abstract}}</p>
        </div>
      </div>
    </section>

    <section class="content-section bg-primary text-white text-center" id="bio">

      <div class="container">

        <div class="col-lg-10 mx-auto text-center">
          <h2 class="mb-2">Bio</h2>
        </div>

        <hr class="mb-5">

        <div class="row">
           <div class="col-lg-3 col-sm-6 offset-sm-3 offset-lg-0 offset-xs-0 sm-centered mb-5">
              <div class="portfolio-item">
{{ with .Resources.GetMatch "photo" }}
              <img class="img-fluid rounded mb-2" src="{{ .RelPermalink }}" alt="">
{{ end }}
             </div>
            </div>

            <div class="col-lg-9 col-sm-12 mb-5">
              <div class="portfolio-item to-left">
                  <h4 class="mb-0 to-left dark-blue">{{ .Params.speakername }}</h4>
                  <p class="mb-0 lead to-left">{{ .Params.bio }}</p>
              </div>
            </div>
        </div>
      </div>

    </section>

    <a class="no-decoration" target="_blank" href="/">
      <section class="content-section-small bg-white" id="back">
        <div class="container text-center">
          <div class="col-lg-10 mx-auto">
           <h4 class="no-decoration">Powrót do strony głównej</h4>
           </div>
        </div>
      </section>
    </a>

    <a class="no-decoration" target="_blank" href="https://segfault-lodz-2018.konfeo.com/pl/groups">
      <section class="content-section-small bg-light-gray" id="contact">
        <div class="container text-center">
          <div class="col-lg-10 mx-auto">
           <h4 class="no-decoration">Zarejestruj się</h4>
           </div>
        </div>
      </section>
    </a>
    <a class="no-decoration" target="_blank" href="mailto:partnerzy@segfault.events">
        <section class="content-section-small bg-dark-blue" id="contact">
          <div class="container text-center">
            <div class="col-lg-10 mx-auto">
             <h4 class="no-decoration-light">Zostań partnerem</h4>
             </div>
          </div>
        </section>
      </a>

      <section class="content-section-small bg-light-blue" id="contact">
        <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="container text-center">
              <div class="mx-auto no-decoration-light">
                 <h4>Konferencja</h4>
                 <p class="mb-0">konferencja@segfault.events</p>
               </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="container text-center">
              <div class="mx-auto no-decoration-light">
                 <h4>Rejestracja</h4>
                 <p class="mb-0">rejestracja@segfault.events</p>
               </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="container text-center">
              <div class="mx-auto no-decoration-light">
                 <h4>Partnerstwo</h4>
                 <p class="mb-0">partnerzy@segfault.events</p>
               </div>
            </div>
          </div>
        </div>
      </div>
     </section>

    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/SegFaultConf/">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/SegFaultConf">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; SegFault</p>
      </div>
      <div class="container">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="docs/Regulamin.pdf">Regulamin</a>
          </li>
          <li class="list-inline-item">
            <a href="docs/PolitykaPrywatnosci.pdf">Polityka prywatności</a>
          </li>
        </ul>
      </div>
    </footer>

    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/segfault.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113528014-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113528014-1');
    </script>
  </body>

</html>
