<!DOCTYPE html>
<html lang="pl-PL" class="js">
{{- partial "head.html" . -}}
<body data-spy="scroll" data-target="#mainNav" data-offset="150" class="home">
  {{- partial "header.html" . -}}
  <div id="body" class="clearfix">
    <!-- layout-container -->
    <div id="layout" class="pagewidth clearfix">
      <!-- content -->
      <div id="content" class="clearfix">
        <div class="container-fluid full-height" id="topImg">
          <div id="topContent">
            <img src="/img/segfaultPoziomeLogo.png" alt="Logo Segfault">
            <h1 class="fancy-font white-text" id="mainWords">...wszyscy jesteśmy architektami</h1>
            <h2 class="white-text">{{ .Params.city }} {{ .Params.eventdate }}</h2>
            <span class="spacer"></span>
            <div class="button-group" role="group" aria-label="Zarejestruj / Zostań partnerem">
              <a class="white-text no-decor" href="{{ .Params.registrationlink }}">
                <button type="button" class="btn blue">Rejestracja</button>
              </a>
              <a class="white-text no-decor" href="mailto:partnerzy@segfault.events">
                <button type="button" class="btn blue">Partnerstwo</button>
              </a>
              <a class="white-text no-decor" href="http://coredump.events/2018/">
                <button type="button" class="btn blue">CoreDump 2018</button>
              </a>
            </div>
            <span class="spacer"></span>
          </div>
        </div>
        <section>
          <div class="container-fluid blue">
            <div class="container">
              <blockquote>
                <strong>Segmentation fault (Naruszenie ochrony pamięci)</strong> – zdarzenie wykrywane przez sprzęt, polegające na korzystaniu przez program z&nbsp;pamięci poza zaalokowanym dla niego obszarem.</blockquote>
            </div>
          </div>
        </section>

        {{ partial "about.html" (.GetPage "about") }}

        {{ partial "topics.html" (.GetPage "topics") }}

        <section>
          <div class="container-fluid blue">
            <div class="container">
              <blockquote>Chcesz uniknąć rozmów o&nbsp;trendach, które przychodzą i&nbsp;odchodzą? o&nbsp;“next big thing”, które jest tylko starą technologią w&nbsp;nowych szatach? Zapraszamy!</blockquote>
            </div>
          </div>
        </section>
        <section id="speakers">
          <div class="container">
            <h2>
              Prelegenci
            </h2>
            <div class="row">
              {{ $pages := .Pages }}
              {{ range $speaker := where $pages "Type" "speaker" }}
              <div class="col-lg-4 col-md-6 speaker">
                <a href="{{ .RelPermalink }}">
                  <div class="module-feature-chart-html5" >
                    <div class="chart-html5-circle">
                      <div class="chart-html5-inset">
                        {{ with $speaker.Resources.GetMatch "photo" }}
                        <img src="{{ .RelPermalink }}" alt="" />
                        {{ end }}
                      </div>
                    </div>
                  </div>
                  <h3>{{ $speaker.Params.speakername }}</h3>
                </a>
                {{ $abstracts := where (where $pages "Type" "abstract") "Params.presentationtitle" $speaker.Params.presentationtitle }}
                {{ if $abstracts }}
                {{ range $abstract := $abstracts }}
                <a  href="{{ $abstract.Permalink }}">{{ $abstract.Params.presentationtitle }}</a>
                {{ end }}
                {{ else }}
                TBD
                {{ end }}
              </div>
              {{ end }}
            </div>
          </div>
        </section>

        {{- partial "agenda.html" . -}}

        <hr />

        <section id="partners">
          {{ partial "partners.html" (dict "partners" (.Site.GetPage (printf "%s%s" .Dir "partners")) "partner" "principal" "title" "Principal" "maxPartners" 1)}}
          {{ partial "partners.html" (dict "partners" (.Site.GetPage (printf "%s%s" .Dir "partners")) "partner" "architect" "title" "Architect" "maxPartners" 3)}}
          {{ partial "partners.html" (dict "partners" (.Site.GetPage (printf "%s%s" .Dir "partners")) "partner" "senior" "title" "Senior" "maxPartners" 5)}}
          {{ partial "partners.html" (dict "partners" (.Site.GetPage (printf "%s%s" .Dir "partners")) "partner" "media" "title" "Media" "maxPartners" 0)}}
          {{ partial "partners.html" (dict "partners" (.Site.GetPage (printf "%s%s" .Dir "partners")) "partner" "community" "title" "Społeczność" "caption" "Społeczności" "maxPartners" 0)}}
          {{ partial "partners.html" (dict "partners" (.Site.GetPage (printf "%s%s" .Dir "partners")) "partner" "conferences" "title" "Konferencja Partnerska" "caption" "Konferencje partnerskie" "maxPartners" 0)}}
        </section>

        <section id="organisedBy">
          <div class="container-fluid light-gray">
            <div class="container">
              <h2>
            Organizator
          </h2>
              <a href="http://symentis.pl"><img src="/img/symentis-logo-150x62.png" title="Logo Symentis"><a>
              <p>Jesteśmy grupą osób, która od ponad 10 lat kształtuje rynek konferencji IT jako aktywni członkowie społeczności, organizatorzy konferencji, członkowie rad programowych i&nbsp;mówcy. w&nbsp;swojej karierze obudziliśmy niejedną społeczność
                do działania. Ponadto zawodowo jesteśmy związani z&nbsp;wytwarzaniem oprogramowania na wielu jego poziomach – zarówno jako programiści, architekci, jak i&nbsp;konsultanci. Od lat naszą idée fixe jest powrót do korzeni i&nbsp;zbudowanie
                solidnych podstaw do rozwoju branży IT w&nbsp;Polsce.</p>

              <p>Chcemy wyjść poza “szufladki” z&nbsp;napisem Java, Spring Boot, .NET, PHP, Python, Docker, test, programista czy architekt.Chcemy na nowo zdefiniować słowo inżynier, gdyż wszyscy szukamy i&nbsp;chcemy pracować z&nbsp;ludźmi o&nbsp;szerokiej
                i&nbsp;uniwersalnej wiedzy, którzy nie boją się nowych wyzwań, jakie niesie za sobą rynek ciągle zmieniających się trendów i&nbsp;technologii. Tak właśnie powstała idea spotkań pod szyldem SegFault.</p>
            </div>
          </div>
        </section>
        <section id="council">
          <div class="container">
            <h2>
              Rada programowa
            </h2>
            <div class="row">
              {{ range where (where .Site.Pages "Section" "committee") "Kind" "page"}}
              <div class="col-lg-3 col-md-6 council-member">
                <a href="{{ .RelPermalink }}">
                  <div class="module-feature-chart-html5" data-progress="0" data-progress-end="100" data-size="150">
                    <div class="chart-html5-circle">
                      <div class="chart-html5-mask chart-html5-full">
                        <div class="chart-html5-fill"></div>
                      </div>
                      <div class="chart-html5-mask chart-html5-half">
                        <div class="chart-html5-fill"></div>
                      </div>
                      <div class="chart-html5-inset">
                        {{ with .Parent.Resources.GetMatch .Params.memberphoto }}
                        <img src="{{ .RelPermalink }}" alt="" />
                        {{ end }}
                      </div>
                    </div>
                  </div>
                  <h3>{{ .Params.membername }}</h3>
                  <span>{{ .Params.memberposition }}</span>
                </a>
              </div>
              {{ end }}
            </div>
          </div>
        </section>
        <section id="contact">
          <div class="container">
            <h2>
              Kontakt
            </h2>
            <div class="row">
              <div class="col-lg-4 col-md-12 ">
                <h3>Konferencja</h3>
                <a href="mailto:konferencja@segfault.events">konferencja@segfault.events</a>
              </div>
              <div class="col-lg-4 col-md-12">
                <h3>Rejestracja</h3>
                <a href="mailto:rejestracja@segfault.events">rejestracja@segfault.events</a>
              </div>
              <div class="col-lg-4 col-md-12">
                <h3>Partnerstwo</h3>
                <a href="mailto:partnerzy@segfault.events">partnerzy@segfault.events</a>
              </div>
            </div>
            <div class="row">
              <h4>
                {{ .Params.location.name }}
              </h4>
              <div class="col-md-12"></div>
              <div id="map"></div>
            </div>
          </div>
        </section>
      </div>
      {{- partial "footer.html" . -}}
    </div>
  </div>
  <script type="text/javascript">
    function initMap() {
      var segfault = {
        lat: {{.Params.location.lat }},
        lng: {{ .Params.location.lng }}
      };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: segfault
      });
      var marker = new google.maps.Marker({
        position: segfault,
        map: map
      });
    }
  </script>
  <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiyUqvhpL6q1zOlx5PI0qKeCdC0NvAOV8&callback=initMap"></script>
</body>
</html>
