<!DOCTYPE html>
<html lang="pl-PL" class="js">
{{- partial "head.html" . -}}
<body data-spy="scroll" data-target="#mainNav" data-offset="150" class="home">
  {{- partial "header.html" . -}}
  <div id="body" class="clearfix">
    <!-- layout-container -->
    <div id="layout" class="pagewidth clearfix">
      <!-- content -->
      <div id="content" class="clearfix">
        <div class="container-fluid full-height" id="topImg">
          <div id="topContent">
            <img src="/img/segfaultPoziomeLogo.png" alt="Logo Segfault">
            <h1 class="fancy-font white-text" id="mainWords">...wszyscy jesteśmy architektami</h1>
            <h2 class="white-text">{{ .Params.city }} {{ .Params.eventdate }}</h2>
            <span class="spacer"></span>
            <div class="button-group" role="group" aria-label="Zarejestruj / Zostań partnerem">
              <a class="white-text no-decor" href="{{ .Params.registrationlink }}">
                <button type="button" class="btn blue">Rejestracja</button>
              </a>
              <a class="white-text no-decor" href="mailto:partnerzy@segfault.events">
                <button type="button" class="btn blue">Partnerstwo</button>
              </a>
            </div>
            <span class="spacer"></span>
          </div>
        </div>
        <section>
          <div class="container-fluid blue">
            <div class="container">
              <blockquote>
                <strong>Segmentation fault (Naruszenie ochrony pamięci)</strong> – zdarzenie wykrywane przez sprzęt, polegające na korzystaniu przez program z&nbsp;pamięci poza zaalokowanym dla niego obszarem.</blockquote>
            </div>
          </div>
        </section>
        <section id="about">
          <div class="container">
            <h2>
          o&nbsp;konferencji
        </h2>
            <h5>SegFault – gdzie pragmatyzm spotyka pasję</h5>
            <p>SegFault to jedno z&nbsp;podstawowych pojęć z&nbsp;zakresu programowania i&nbsp;budowy systemów operacyjnych.</p>

            <p>Dlaczego postanowiliśmy je wykorzystać jako nazwę naszej konferencji? Naszym celem jest powrót do fundamentów. Chcemy sięgnąć do obszarów wiedzy, o&nbsp;których nasze środowisko często zapomina. Wracamy do podwalin by udowodnić, że wysokopoziomowe
              rozwiązania są zbudowane na solidnych i&nbsp;niezmiennych koncepcjach oraz teoretycznych podstawach. Wierzymy, że zrozumienie poziomu abstrakcji niżej od tego na którym obecnie operujemy jest esencją naszej pracy, niezbędnym elementem nie
              tylko naszego rozwoju, ale dalszego rozwoju branży. SegFault to nie pojedyncze wydarzenie! To seria spotkań w&nbsp;ciągu roku, w&nbsp;różnych miastach w&nbsp;Polsce, gromadząca każdorazowo około 200 specjalistów.</p>

            <p>Spotykamy się w&nbsp;Łodzi, Wrocławiu, Bydgoszczy, Katowicach, Warszawie, Krakowie i&nbsp;w każdym innym mieście na dynamicznie zmieniającej się mapie IT w&nbsp;Polsce. Celem SegFault jest aktywizacja lokalnych społeczności i&nbsp;poszukiwanie
              nowych talentów. Mamy świadomość ukrytego potencjału poza głównymi ośrodkami w&nbsp;Polsce.</p>

            <p>Wierzymy, że tylko zrozumienie fundamentów umożliwia ciągły rozwój nie tylko branży IT, ale i&nbsp;nas samych.</p>
          </div>
        </section>
        <section id="topics">
          <div class="container-fluid light-gray">
            <div class="container">
              <h2>
            Tematyka
          </h2>
              <div class="row">
                <div class="col-md-6">
                  <h3>Architecture At Scale</h3>
                  <p>wszystko co dotyczy budowy, dobrych praktyk i&nbsp;skalowania systemów rozproszonych, tutaj pojawiają się takie tematy jak: skalowalność, wydajność, NoSQL, microservices, serverless, cloud computing, BigData, FastData i&nbsp;SOA.</p>
                </div>
                <div class="col-md-6">
                  <h3>Small Architectures</h3>
                  <p>czyli wszystko co pomaga nam budować systemy na poziomie mniejszych komponentów. Tutaj posłuchasz o&nbsp;TDD, DDD, CQRS, dobrych praktykach
                    <br/>i wzorcach niezależnie od platformy i&nbsp;języka programowania.</p>
                </div>
                <div class="col-md-6">
                  <h3>Foundations of Future Architectures</h3>
                  <p>na tej ścieżce pojawią się tematy w&nbsp;znanym formacie “papers we love”, czyli tematy trudne, acz fundamentalne, zawarte w&nbsp;starych manuskryptach. Odkurzymy dokumenty z&nbsp;lat 70., 80. i&nbsp;90., by lepiej zrozumieć dokąd zmierza
                    nasza branża.
                  </p>
                </div>
                <div class="col-md-6">
                  <h3>Architecture of You</h3>
                  <p>bo nie samymi architekturami człowiek żyje. Porozmawiamy o&nbsp;nas, o&nbsp;tym jak się uczyć, jak rozwijać swoje umiejętności, jak skutecznie manewrować swoją karierą i&nbsp;rozwojem.</p>
                </div>
                <div class="col-md-6">
                  <h3>Legacy Architectures</h3>
                  <p>wszystko o&nbsp;pracy z&nbsp;kodem i&nbsp;systemami odziedziczonymi, od technik po prawdziwe historie.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="container-fluid blue">
            <div class="container">
              <blockquote>Chcesz uniknąć rozmów o&nbsp;trendach, które przychodzą i&nbsp;odchodzą? o&nbsp;“next big thing”, które jest tylko starą technologią w&nbsp;nowych szatach? Zapraszamy!</blockquote>
            </div>
          </div>
        </section>

        <section id="speakers">
          <div class="container">
            <h2>
          Prelegenci
        </h2>
            <div class="row">
              {{ $pages := .Pages }}
              {{ range $speaker := where $pages "Type" "speaker" }}
              <div class="col-lg-4 col-md-6 speaker">
                <a href="{{ .RelPermalink }}">
                  <div class="module-feature-chart-html5" data-progress="0" data-progress-end="100" data-size="150">
                    <div class="chart-html5-circle">
                      <div class="chart-html5-mask chart-html5-full">
                        <div class="chart-html5-fill"></div>
                      </div>
                      <div class="chart-html5-mask chart-html5-half">
                        <div class="chart-html5-fill"></div>
                      </div>
                      <div class="chart-html5-inset">
                        {{ with $speaker.Resources.GetMatch "photo" }}
                        <img src="{{ .RelPermalink }}" alt="" />
                        {{ end }}
                      </div>
                    </div>
                  </div>
                  <h3>{{ $speaker.Params.speakername }}</h3>
                </a>
                {{ $abstracts := where (where $pages "Type" "abstract") "Params.presentationtitle" $speaker.Params.presentationtitle }}
                {{ if $abstracts }}
                {{ range $abstract := $abstracts }}
                <a  href="{{ $abstract.Permalink }}">{{ $abstract.Params.presentationtitle }}</a>
                {{ end }}
                {{ else }}
                TBD
                {{ end }}
              </div>
              {{ end }}
            </div>
          </div>
        </section>

        <section id="schedule">
          <div class="container">
            <h2>
          Agenda
        </h2>
        {{ if .Content }}
        {{ .Content }}
        {{ else }}
        <center>Pojawi się wkrótce</center>
        {{ end }}
          </div>
        </section>
        <section id="partners">
          <div class="container">
            <h2>Partnerzy - Architekt
        </h2>
            <a href="mailto:partnerzy@segfault.events">
          Chcesz zostać Partnerem Architekt?
        </a>
            <hr>
            <div class="customer-logos slider">
              {{ with .Site.GetPage "page" .Dir "partners" }}
              {{ range .Resources.Match "architect/*" }}
              <div class="slide">
                <img src="{{ .RelPermalink }}">
              </div>
              {{ end }}
              {{ end }}
            </div>
            <hr>
            <h2>Partnerzy - Senior
        </h2>
            <a href="mailto:partnerzy@segfault.events">
          Chcesz zostać Partnerem Senior?
        </a>
            <hr>
            <div class="customer-logos slider">
              {{ with .Site.GetPage "page" .Dir "partners" }}
              {{ range .Resources.Match "senior/*" }}
              <div class="slide">
                <img src="{{ .RelPermalink }}">
              </div>
              {{ end }}
              {{ end }}
            </div>
            <hr>
            <h2>Media</h2>
            <a href="mailto:partnerzy@segfault.events">
          Chcesz zostać Partnerem Medialnym?
        </a>
            <hr>
            <div class="customer-logos slider">
              {{ with .Site.GetPage "page" .Dir "partners" }}
              {{ range .Resources.Match "media/*" }}
              <div class="slide">
                <img src="{{ .RelPermalink }}">
              </div>
              {{ end }}
              {{ end }}
            </div>
            <hr>
            <h2>Społeczność</h2>
            <a href="mailto:partnerzy@segfault.events">
          Chcesz dołączyć do Społeczności?
        </a>
            <hr>
            <div class="customer-logos slider">
              <div class="customer-logos slider">
                {{ with .Site.GetPage "page" .Dir "partners" }}
                {{ range .Resources.Match "community/*" }}
                <div class="slide">
                  <img src="{{ .RelPermalink }}">
                </div>
                {{ end }}
                {{ end }}
              </div>
            </div>
            <hr>
          </div>
        </section>
        <section id="organisedBy">
          <div class="container-fluid light-gray">
            <div class="container">
              <h2>
            Organizator
          </h2>
              <img src="/img/symentis-logo-150x62.png" title="Logo Symentis">
              <p>Jesteśmy grupą osób, która od ponad 10 lat kształtuje rynek konferencji IT jako aktywni członkowie społeczności, organizatorzy konferencji, członkowie rad programowych i&nbsp;mówcy. w&nbsp;swojej karierze obudziliśmy niejedną społeczność
                do działania. Ponadto zawodowo jesteśmy związani z&nbsp;wytwarzaniem oprogramowania na wielu jego poziomach – zarówno jako programiści, architekci, jak i&nbsp;konsultanci. Od lat naszą idée fixe jest powrót do korzeni i&nbsp;zbudowanie
                solidnych podstaw do rozwoju branży IT w&nbsp;Polsce.</p>

              <p>Chcemy wyjść poza “szufladki” z&nbsp;napisem Java, Spring Boot, .NET, PHP, Python, Docker, test, programista czy architekt.Chcemy na nowo zdefiniować słowo inżynier, gdyż wszyscy szukamy i&nbsp;chcemy pracować z&nbsp;ludźmi o&nbsp;szerokiej
                i&nbsp;uniwersalnej wiedzy, którzy nie boją się nowych wyzwań, jakie niesie za sobą rynek ciągle zmieniających się trendów i&nbsp;technologii. Tak właśnie powstała idea spotkań pod szyldem SegFault.</p>
            </div>
          </div>
        </section>
        <section id="council">
          <div class="container">
            <h2>
          Rada programowa
        </h2>
            <div class="row">
              {{ range where (where .Site.Pages "Section" "committee") "Kind" "page"}}
              <div class="col-lg-3 col-md-6 council-member">
                <a href="{{ .RelPermalink }}">
                  <div class="module-feature-chart-html5" data-progress="0" data-progress-end="100" data-size="150">
                    <div class="chart-html5-circle">
                      <div class="chart-html5-mask chart-html5-full">
                        <div class="chart-html5-fill"></div>
                      </div>
                      <div class="chart-html5-mask chart-html5-half">
                        <div class="chart-html5-fill"></div>
                      </div>
                      <div class="chart-html5-inset">
                        {{ with .Parent.Resources.GetMatch .Params.memberphoto }}
                        <img src="{{ .RelPermalink }}" alt="" />
                        {{ end }}
                      </div>
                    </div>
                  </div>
                  <h3>{{ .Params.membername }}</h3>
                  <span>{{ .Params.memberposition }}</span>
                </a>
              </div>
              {{ end }}
            </div>
          </div>
        </section>
        <section id="contact">
          <div class="container">
            <h2>
          Kontakt
        </h2>
            <div class="row">
              <div class="col-md-4">
                <h3>Konferencja</h3>
                <a href="mailto:konferencja@segfault.events">konferencja@segfault.events</a>
              </div>
              <div class="col-md-4">
                <h3>Rejestracja</h3>
                <a href="mailto:rejestracja@segfault.events">rejestracja@segfault.events</a>
              </div>
              <div class="col-md-4">
                <h3>Partnerstwo</h3>
                <a href="mailto:partnerzy@segfault.events">partnerzy@segfault.events</a>
              </div>
            </div>
            <div class="row">
              <h4>
            {{ .Params.location.name }}
          </h4>
              <div class="col-md-12"></div>
              <div id="map"></div>
            </div>
          </div>
        </section>
      </div>
      {{- partial "footer.html" . -}}
    </div>
  </div>
  <script type="text/javascript">
    function initMap() {
      var segfault = {
        lat: {{.Params.location.lat }},
        lng: {{ .Params.location.lng }}
      };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: segfault
      });
      var marker = new google.maps.Marker({
        position: segfault,
        map: map
      });
    }
  </script>
  <script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiyUqvhpL6q1zOlx5PI0qKeCdC0NvAOV8&callback=initMap"></script>
</body>
</html>
