<!DOCTYPE html>
<html lang="pl-PL" class="js">    
{{- partial "head.html" . -}}
<body class="single-person single">
    {{- partial "header.html" . -}}
    <div id="body" class="clearfix">
        <!-- layout-container -->
        <div id="layout" class="pagewidth clearfix">
            <!-- content -->
            <div id="content" class="clearfix">
                <div class="container">
                    <div class="row">
                        <div class="speaker col-md-4">
                          {{ with .Resources.GetMatch "photo" }}
                            <img src="{{ .RelPermalink }}" alt="" />
                          {{ end }}
                        </div>
                        <div class="col-md-7">
                            <h2>{{ .Params.speakername }} </h2>
                            {{ .Content }}

                            {{ $pages := .Site.Pages }}
                            <ul>
                            {{ range $presentationtitle := .Params.presentationtitle}}            
                                {{ $abstracts := where (where $pages "Type" "abstract") "Params.presentationtitle" $presentationtitle }}                        
                                {{ if $abstracts }}
                                    {{ range $abstract := $abstracts }}
                                    <li><a  href="{{ $abstract.Permalink }}">{{ $abstract.Params.presentationtitle }}</a>
                                    {{ end }}
                                {{ else if (and (eq (len $abstracts) 0) $presentationtitle) }}
                                    <li>{{ $presentationtitle }}
                                {{ end }}
                            {{ end }}            
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="clearfix">

                        <div class="clear" style="height: 50px"></div>
                        <div>
                            {{ if isset .Params "youtube" }}
                            <div class="col-md-12">
                                <a href="https://www.youtube.com/watch?v={{ .Params.youtube }}" class="back out-link" target="_blank">
                                    <span>Zobacz prezentację na YT</span>
                                    <i class="fas fa-arrow-circle-right link-icon"></i>
                                </a>
                            </div>
                            {{ end }}
                            <div class="col-md-12">
                                <a href="{{ .Parent.RelPermalink }}#speakers" class="back">
                                    <i class="fas fa-arrow-circle-left"></i>
                                    <span>Zobacz wszystkich prelegentów</span>
                                </a>
                                <a href="{{ .Parent.RelPermalink }}#schedule" class="back">
                                    <i class="fas fa-arrow-circle-left"></i>
                                    <span>Przejdź do agendy</span>
                                </a>
                            </div>
                        </div>
                    
    
                    </div>
    
            </div>
            {{- partial "footer.html" . -}}
        </div>
    </div>
</body>
</html>
