<!DOCTYPE html>
<html lang="pl-PL" class="js">    
{{- partial "head.html" . -}}
<body class="single-person single">
    {{- partial "header.html" . -}}
    <div id="body" class="clearfix">
        <!-- layout-container -->
        <div id="layout" class="pagewidth clearfix">
            <!-- content -->
            <div id="content" class="clearfix">
                <div class="container">
                    <div class="row">
                        <div class="speaker col-md-4">
                          {{ with .Resources.GetMatch "photo" }}
                            <img src="{{ .RelPermalink }}" alt="" />
                          {{ end }}
                        </div>
                        <div class="col-md-8">
                            <h2>{{ .Params.speakername }} </h2>
                            {{ .Content }}

                            {{ $pages := .Site.Pages }}
                            <ul>
                            {{ range $presentationtitle := .Params.presentationtitle}}            
                                {{ $abstracts := where (where $pages "Type" "abstract") "Params.presentationtitle" $presentationtitle }}                        
                                {{ if $abstracts }}
                                    {{ range $abstract := $abstracts }}
                                    <li><a  href="{{ $abstract.Permalink }}">{{ $abstract.Params.presentationtitle }}</a>
                                    {{ end }}
                                {{ else if (and (eq (len $abstracts) 0) $presentationtitle) }}
                                    <li>{{ $presentationtitle }}
                                {{ end }}
                            {{ end }}            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {{- partial "footer.html" . -}}
        </div>
    </div>
</body>
</html>
